/* 
colores: #623c2b - #ffbd59
fuentes: font-family: 'Asap', sans-serif; (párrafos)
        font-family: 'Kaushan Script', cursive; (Titulos)
*/

header {
	display: flex;
	height: 25vh;
}

div.logo img {
	height: 100px;
	widows: 100px;
}

div.menu {

}

nav {

}

nav a {

}
