/* 
colores: #623c2b - #ffbd59
fuentes: font-family: 'Asap', sans-serif; (párrafos)
        font-family: 'Kaushan Script', cursive; (Titulos)
*/

:root {
	--colorPrimario: #623c2b;
	--colorSecundario: #ffbd59;
	--fuentePrincipal: 'Kaushan Script', cursive;
	--fuenteSecundaria: 'Asap', sans-serif;
}

header {
	display: flex;
	height: 14vh;
	justify-content: space-between;
}

div.logo img {
	height: 100px;
	widows: 100px;
}

div.menu {
	font-family: var(--fuenteSecundaria);
	padding: 2.2em 2em;
	padding-bottom: 0;
}

nav {
}

nav a {
	text-decoration: none;
	color: var(--colorPrimario);
	padding: 0 1.2em;
}

nav a:hover {
	color: #ffbd59;
	border-bottom: 2px solid var(--colorPrimario);
	transition-duration: .3s;
}

/*hero*/

div.hero {
	height: 86vh;
	background-image: url(../images/background.png);
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

div.hero h1 {
	margin: 0;
	font-family: var(--fuentePrincipal);
	font-size: 3.5em;
	margin-bottom: .3em;
	color: var(--colorPrimario);
}

div.hero p {
	margin: 0;
	font-family: var(--fuenteSecundaria);
	font-size: 1.1em;
}

div.hero p span {
	color: var(--colorSecundario);
}

div.hero button {
	margin-top: 1em;
	padding: 1em 2em;
	border-radius: 50%;
	border: 1px solid var(--colorPrimario);
	background-color: var(--colorSecundario);
	font-family: var(--fuentePrincipal);
	font-size: 1.2em;
}

div.hero button:hover {
	background-color: var(--colorPrimario);
	color: white;
	transition: .5s ease-in-out;
	cursor: pointer;
}

div.social {
	margin-top: 2em;
}

div.social a {
	text-decoration: none;
	font-size: 1.3em;
	padding: 0 .4em;
	color: black;
}

section#products {

}


#products div.products {

}

